<div class="container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <div class="mat-typography">
          <!-- <div class="mat-display-1">Coleções de Ensaios</div> -->
          <h1 class="mat-display-1">{{'assaysCollections.title' | translate}}</h1>

          <div fxLayout="row">
            <mat-form-field fxFlex appearance="outline" class="custom-form-field">
              <mat-icon matPrefix>search</mat-icon>
              <mat-label>Pesquisar coleções de ensaios</mat-label>
              <input type="text" matInput [formControl]="filterControl" placeholder="">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex="100%">

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="folder">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="folder-cell">
                      <span class="collection-name">{{ element.name }}</span>
                      <span class="description">{{ element.description }}</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="actions-header"> </th>
                  <td mat-cell *matCellDef="let element" class="actions-column">
                    <button mat-button (click)="download(element.nameFolder)">
                      <mat-icon>download</mat-icon>
                    </button>
                    <button mat-button (click)="update(element.nameFolder)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button (click)="open(element.nameFolder)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  [class.selected-row]="selection.isSelected(row)">
                </tr>
              </table>

            </div>
          </div>




          <br><br><br>




          <div fxLayout="row">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex="100%">

              <table mat-table [dataSource]="dataSourceAnalitos" class="mat-elevation-z8">

                <ng-container matColumnDef="nameFolder">
                  <th mat-header-cell *matHeaderCellDef> Nome do analito </th>
                  <td mat-cell *matCellDef="let element">{{ 'analytes.' + element.subfolder | translate }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="actions-header"> Ação </th>
                  <td mat-cell *matCellDef="let element" class="actions-column">

                    <button mat-button color="primary"
                      (click)="getInferenceTraining(element.folder, false)">Inferencia</button>

                    <button mat-stroked-button color="accent"
                      (click)="getInferenceTraining(element.folder, true)">Treinamento</button>

                    <button mat-button (click)="download2(element.folder)">
                      <mat-icon>download</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAnalitos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAnalitos;"></tr>
              </table>

            </div>
          </div>

          <br><br><br>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of dataList">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.analystName }} - {{ item.analyte }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ item.analyticalParameter }}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="info-section">
                <p><strong>Analyst:</strong> {{ item.analystName }}</p>
                <p><strong>Analyte:</strong> {{ item.analyte }}</p>
                <p><strong>Parameter:</strong> {{ item.analyticalParameter }}</p>
                <p><strong>Technique:</strong> {{ item.captureTechnique }}</p>
                <p><strong>Collection:</strong> {{ item.assaysCollection }}</p>
              </div>

              <div class="image-gallery">
                <ng-container *ngFor="let image of item.extraFileNames">
                  <mat-card class="image-card">
                    <img [src]="'data:image/jpeg;base64,' + image.base64" alt="{{ image.namePath }}" />
                    <mat-card-content>
                      <small>{{ image.namePath }}</small>
                    </mat-card-content>
                  </mat-card>
                </ng-container>
              </div>
            </mat-expansion-panel>
          </mat-accordion>


          <!-- <mat-table [dataSource]="dataSourceImages" class="mat-elevation-z8 small-table">

            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
              <mat-cell *matCellDef="let element" class="main-image">
                <img [src]="'data:image/jpeg;base64,' + element.image" class="images" alt="Sample Image"
                  style="max-width: 100%; height: auto;" />
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="extraImages">
              <mat-header-cell *matHeaderCellDef> Imagens Extras </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="extra-images-container">
                  <div *ngFor="let extraImage of element.extraImages" class="extra-image">
                    <img [src]="'data:image/jpeg;base64,' + extraImage" style="max-width: 50%; height: auto;"
                      alt="Extra Image" />
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="infos">
              <th mat-header-cell *matHeaderCellDef> Informações </th>
              <mat-cell *matCellDef="let element">
                <div class="info-container">
                  <div><strong>Analyst Name:</strong> {{ analystName }}</div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsImages"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsImages;" class="mat-row"></mat-row>
          </mat-table> -->

        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>