<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Inventario</h2>
        <div class="mat-typography">
          <div class="mat-display-1">Explorador de Pastas</div>

          <div class="folder-container">
            <div *ngFor="let folder of folders" class="folder">
              <div class="material-icons folder-icon">folder</div>
              <div class="folder-name">{{ folder }}</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>