
  .image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image-preview {
    max-width: 500px;
    max-height: 500px;
    margin: 0 10px;
  }

  .actions {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
  }