<h1 mat-dialog-title class="dialog-title">
  Dados Completos
  <div class="example-button-container">
    <button mat-mini-fab mat-dialog-close class="btn-close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</h1>


<mat-dialog-content class="mdc">
  <div class="image-container">

    <button class="btn-next-previous" mat-fab *ngIf="!isTextView || currentIndex > 0" (click)="previous()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>

    <div *ngIf="isTextView">
      <p><strong>App Name:</strong> {{data.images.app.appName}}</p>
      <p><strong>Package Name:</strong> {{data.images.app.packageName}}</p>
      <p><strong>Version Name:</strong> {{data.images.app.versionName}}</p>

      <p><strong>Device alias:</strong> {{data.images.device.alias}}</p>
      <p><strong>Android version:</strong> {{data.images.device.androidVersion}}</p>
      <p><strong>Manufacture:</strong> {{data.images.device.manufacturer}}</p>
      <p><strong>Model:</strong> {{data.images.device.model}}</p>

      <p><strong>Alkalinity Unit:</strong> {{data.images.sample.alkalinityUnit}}</p>
      <p><strong>File Name:</strong> {{data.images.sample.title}}</p>
      <p><strong>Datetime:</strong> {{data.images.sample.datetime}}</p>
      <p><strong>Analyst Name:</strong> {{data.images.sample.analystName}}</p>
      <p><strong>Blank File Name:</strong> {{data.images.sample.blankFileName}}</p>
    </div>

    <div *ngIf="!isTextView" class="image-container">
      <div class="ok">
        <img [src]="'data:image/jpeg;base64,' + images[currentIndex]" alt="Image {{ currentIndex + 1 }}"
          class="image-preview" />
        <strong>{{data.images.sample.extraFileNames[currentIndex]}}</strong>
      </div>
    </div>
    <button class="btn-next-previous" mat-fab *ngIf="isTextView || currentIndex < images.length - 1" (click)="next()">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-raised-button color="warn" (click)="removeImage()">Remover</button>
</mat-dialog-actions>