<div class="container">
    <h1 class="titulo">Capturas Realizadas</h1>

    <div class="cards-wrapper" fxLayout="column" fxLayoutGap="24px">
        <mat-card class="detalhe-card" *ngFor="let item of dataList">
            <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch">

                <!-- Texto -->
                <!-- <div fxFlex="100" fxFlex.gt-lg="60" fxFlex.gt-xl="66"> -->
                <div fxFlex="100" fxFlex.gt-sm="48">
                    <div class="info-section">
                        <h3>{{ item.analystName }} - {{ item.analyte }}</h3>
                        <p><strong>Analista:</strong> {{ item.analystName }}</p>
                        <p><strong>Analito:</strong> {{ item.analyte }}</p>
                        <p><strong>Parâmetro:</strong> {{ item.analyticalParameter }}</p>
                        <p><strong>Técnica:</strong> {{ item.captureTechnique }}</p>
                        <p><strong>Coleção:</strong> {{ item.assaysCollection }}</p>
                    </div>
                </div>

                <!-- Imagens -->
                <!-- <div fxFlex="100" fxFlex.gt-lg="40" fxFlex.gt-xl="34"> -->
                <div fxFlex="100" fxFlex.gt-sm="48">
                    <!-- Imagem principal -->
                    <div class="imagem-principal">
                        <img [src]="'data:image/jpeg;base64,' + item.fileName" alt="Imagem principal" />
                        <span class="legenda">Imagem principal</span>
                    </div>

                    <!-- Imagens extras -->
                    <div class="imagem-extras">
                        <ng-container *ngFor="let image of item.extraFileNames">
                            <mat-card class="imagem-extra-card">
                                <img [src]="'data:image/jpeg;base64,' + image.base64" alt="{{ image.namePath }}" />
                                <mat-card-content>
                                    <small>{{ image.namePath }}</small>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <button mat-fab class="fab-button voltar-button" matTooltip="Voltar" (click)="voltar()">
        <mat-icon class="voltar-icon">arrow_back</mat-icon>
    </button>
</div>